In [72]:
import pandas as pd
import numpy as np
import seaborn as sns
import plotly.plotly as py
import plotly.graph_objs as go

sns.set()

In [73]:
df = pd.read_csv("sf_business_cleaned.csv")

C:\Users\cywon\newAnaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning:

Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.

In [74]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 224507 entries, 0 to 224506
Data columns (total 19 columns):
owner_number               224507 non-null float64
business_number            224507 non-null int64
location_number            224507 non-null int64
owner_name                 224507 non-null object
business_name              224507 non-null object
street_address             224504 non-null object
city                       224505 non-null object
state                      224507 non-null object
zipcode                    224415 non-null float64
latlong                    163763 non-null object
neighborhood               145192 non-null object
business_start             224507 non-null object
business_end               60654 non-null object
location_start             224507 non-null object
location_end               82432 non-null object
naics_code                 135394 non-null object
lic_code                   13013 non-null object
parking_tax                224507 non-null bool
transient_occupancy_tax    224507 non-null bool
dtypes: bool(2), float64(2), int64(2), object(13)
memory usage: 29.5+ MB

In [75]:
df.head()

,owner_number,business_number,location_number,owner_name,business_name,street_address,city,state,zipcode,latlong,neighborhood,business_start,business_end,location_start,location_end,naics_code,lic_code,parking_tax,transient_occupancy_tax
0,28.0,1,1,Ferrando Louise,3101 Laguna Apts,3101 Laguna St,san francisco,CA,94123.0,"(37.799823, -122.430996)",Marina,1993-09-30,NaN,1993-09-30,NaN,Real Estate and Rental and Leasing Services,NaN,False,False
1,52.0,1,1,Ideal Novak Corp,Ideal Novak Corp,8 Mendosa Ave,san francisco,CA,94116.0,"(37.748926, -122.465074)",West of Twin Peaks,1968-10-01,NaN,1968-10-01,NaN,Real Estate and Rental and Leasing Services,NaN,False,False
2,71.0,1,1,Tournahu George L,Tournahu Arms,1842 Jefferson St,san francisco,CA,94123.0,"(37.804734, -122.442997)",NaN,1968-10-01,NaN,1968-10-01,2013-12-31,Real Estate and Rental and Leasing Services,NaN,False,False
3,71.0,2,1,Tournahu George L,3301 Broderick Apartments,3301 Broderick St,san francisco,CA,94123.0,"(37.800876, -122.444757)",Marina,1968-10-01,NaN,1988-05-01,2013-12-31,Real Estate and Rental and Leasing Services,NaN,False,False
4,71.0,3,1,Tournahu George L,1840-42 Jefferson St,1840 Jefferson St #42,san francisco,CA,94123.0,"(37.804759, -122.442794)",NaN,1968-10-01,NaN,1991-10-07,NaN,Real Estate and Rental and Leasing Services,NaN,True,False

In [24]:
#year = []
#for date in start:
#    a = []
#    for i in range(4):
#        a.append(date[i])
#    b = int(''.join(map(str,a)))
#    year.append(b)

In [76]:
df["business_start"] = pd.to_datetime(df["business_start"])

In [77]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 224507 entries, 0 to 224506
Data columns (total 19 columns):
owner_number               224507 non-null float64
business_number            224507 non-null int64
location_number            224507 non-null int64
owner_name                 224507 non-null object
business_name              224507 non-null object
street_address             224504 non-null object
city                       224505 non-null object
state                      224507 non-null object
zipcode                    224415 non-null float64
latlong                    163763 non-null object
neighborhood               145192 non-null object
business_start             224507 non-null datetime64[ns]
business_end               60654 non-null object
location_start             224507 non-null object
location_end               82432 non-null object
naics_code                 135394 non-null object
lic_code                   13013 non-null object
parking_tax                224507 non-null bool
transient_occupancy_tax    224507 non-null bool
dtypes: bool(2), datetime64[ns](1), float64(2), int64(2), object(12)
memory usage: 29.5+ MB

In [78]:
df["business_end"] = pd.to_datetime(df["business_end"])

In [79]:
df.head()

,owner_number,business_number,location_number,owner_name,business_name,street_address,city,state,zipcode,latlong,neighborhood,business_start,business_end,location_start,location_end,naics_code,lic_code,parking_tax,transient_occupancy_tax
0,28.0,1,1,Ferrando Louise,3101 Laguna Apts,3101 Laguna St,san francisco,CA,94123.0,"(37.799823, -122.430996)",Marina,1993-09-30,NaT,1993-09-30,NaN,Real Estate and Rental and Leasing Services,NaN,False,False
1,52.0,1,1,Ideal Novak Corp,Ideal Novak Corp,8 Mendosa Ave,san francisco,CA,94116.0,"(37.748926, -122.465074)",West of Twin Peaks,1968-10-01,NaT,1968-10-01,NaN,Real Estate and Rental and Leasing Services,NaN,False,False
2,71.0,1,1,Tournahu George L,Tournahu Arms,1842 Jefferson St,san francisco,CA,94123.0,"(37.804734, -122.442997)",NaN,1968-10-01,NaT,1968-10-01,2013-12-31,Real Estate and Rental and Leasing Services,NaN,False,False
3,71.0,2,1,Tournahu George L,3301 Broderick Apartments,3301 Broderick St,san francisco,CA,94123.0,"(37.800876, -122.444757)",Marina,1968-10-01,NaT,1988-05-01,2013-12-31,Real Estate and Rental and Leasing Services,NaN,False,False
4,71.0,3,1,Tournahu George L,1840-42 Jefferson St,1840 Jefferson St #42,san francisco,CA,94123.0,"(37.804759, -122.442794)",NaN,1968-10-01,NaT,1991-10-07,NaN,Real Estate and Rental and Leasing Services,NaN,True,False

In [81]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 224507 entries, 0 to 224506
Data columns (total 19 columns):
owner_number               224507 non-null float64
business_number            224507 non-null int64
location_number            224507 non-null int64
owner_name                 224507 non-null object
business_name              224507 non-null object
street_address             224504 non-null object
city                       224505 non-null object
state                      224507 non-null object
zipcode                    224415 non-null float64
latlong                    163763 non-null object
neighborhood               145192 non-null object
business_start             224507 non-null datetime64[ns]
business_end               60654 non-null datetime64[ns]
location_start             224507 non-null object
location_end               82432 non-null object
naics_code                 135394 non-null object
lic_code                   13013 non-null object
parking_tax                224507 non-null bool
transient_occupancy_tax    224507 non-null bool
dtypes: bool(2), datetime64[ns](2), float64(2), int64(2), object(11)
memory usage: 29.5+ MB

In [83]:
df1 = df[["business_start"],["business_end"],["naics_code"]]

TypeError: unhashable type: 'list'